<div id="<%= dom_id image %>">
  <p>
    <strong>Name:</strong>
    <%= image.name %>
  </p>

  <p>
    <strong>File:</strong>
    <%= image.file %>
  </p>

  <p>
    <strong>Average value:</strong>
    <%= image.average_value %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= image.theme_id %>
  </p>

</div>
