<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>AppRaiser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <section class="layer">
    <div class="layers__container">
      <%= render partial: 'main/header' %>
      <%= yield %>
      <%= render partial: 'main/footer' %>
    </div>
  </section>
  </body>
</html>
